<ion-view view-title="Setting" title="Setting">
    <ion-content ng-controller="UsersCtrl" padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="profile.name">
                </label>
				<label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="profile.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="profile.password">
                </label>
				<label class="item item-input">
                    <span class="input-label">Password Confirmation</span>
                    <input type="password" ng-model="profile.password_confirmation">
                </label>
            </ion-list>
            <div class="spacer" style="height:20px;"></div>
            <button class="button button-stable button-block button-positive" ng-click="setting(profile)">Update</button>
			<button class="button button-positive button-clear button-block" ng-click="logout()">Logout</button>
        </form>
    </ion-content>
</ion-view>