<ion-view title="Setting">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Name</span>
				<input type="text" ng-model="profile.name">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text" ng-model="profile.email">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password" ng-model="password">
			</label>
			<label class="item item-input">
				<span class="input-label">Password Confirmation</span>
				<input type="password" ng-model="password_confirmation">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="signUp()">Update</button>
			<p class="text-center"><a href="#/logout">Logout</a></p>
		</div>
	</ion-content>
</ion-view>