<ion-view title="Setting">
	<div class="bar bar-header">
	<button class="button icon ion-navicon"></button>
	<h1 class="title">Header Buttons</h1>
	<button class="button">Edit</button>
	</div>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Name</span>
				<input type="text" ng-model="profile.name">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text" ng-model="profile.email">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password" ng-model="profile.password">
			</label>
			<label class="item item-input">
				<span class="input-label">Password Confirmation</span>
				<input type="password" ng-model="profile.password_confirmation">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="setting(profile)">Update</button>
			<button class="button button-positive" ng-click="logout()">Logout</button>
		</div>
	</ion-content>
</ion-view>