<ion-view title="Amigos">
	<ion-content>
		<div class="buttons">
			<button class="button" ng-click="openModal()">Add</button>
		</div>
		<ion-list>
			<ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
				{{friend.name}}
			</ion-item>
		</ion-list>
		<script id="modal" type="text/ng-template">
			<div class="modal">
				<div class="bar bar-header bar-calm">
					<button class="button" ng-click="closeModal()">Atras</button>
					<h1 class="title">Add Friend</h1>
				</div>
				<br></br>
				<br></br>
				<form ng-submit="AddFriend(data)">
					<div class="list">
						<div class="list list-inset">
							<label class="friend friend-input">
								<input type="text" placeholder="nombre.." ng-model="data.name">
							</label>
						</div>
						<button class="button button-block button-positive" type="submit">
							Add Friend
						</button>
					</div>
				</form>
			</div>
		</script>
	</ion-content>
</ion-view>