<ion-view view-title="Password-Reset" title="Password Reset">
	<ion-content ng-controller="UsersCtrl">
		<div class="list">
			<input type="hidden" ng-model="token" value="token">
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text" ng-model="email">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="text" ng-model="password">
			</label>
			<label class="item item-input">
				<span class="input-label">Password confirmation</span>
				<input type="text" ng-model="password_confirmation">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="passwordReset()">Password Reset</button>
			<p class="text-center"><a href="#/sign-in">Sign In</a></p>
		</div>
	</ion-content>
</ion-view>