<ion-view view-title="SignUp" title="SignUp">
    <ion-content ng-controller="UsersCtrl" padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="name" placeholder="">
                </label>
				<label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="password" placeholder="">
                </label>
				<label class="item item-input">
                    <span class="input-label">Password Confirmation</span>
                    <input type="password" ng-model="password_confirmation" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height:20px;"></div>
            <button class="button button-stable button-block button-positive" ng-click="signUp()">SignUp</button>
            <a href="#/sign-in" class="button button-positive button-clear button-block">Or signin</a>
        </form>
    </ion-content>
</ion-view>